### Import  Pandas to create data frames

In [15]:
import pandas as pd

### Pull in csv of all the prices of the etfs that were downloaded

In [45]:
#vgit = pd.read_csv("./VGIT interm bond.csv") 
iyr = pd.read_csv("./IYR real estate.txt")
eem = pd.read_csv("./EEM Emerging markets.txt")
agg = pd.read_csv("./AGG US bond.txt")
bsv = pd.read_csv("./BSV short bond.csv")  # Need to get more data
emb = pd.read_csv("./EMB emerging markets bond.txt")
iau = pd.read_csv("./IAU gold trust.txt")
iefa = pd.read_csv("./IEFA dev markets.txt")
ifeu = pd.read_csv("./IFEU Euro real estate.txt")
ijh = pd.read_csv("./IJH Mid cap.txt")
slv = pd.read_csv("./SLV silver.txt")
ijr = pd.read_csv("./IJR Small-cap core.txt")
ivv = pd.read_csv("./ishares Core S&P 500 IVV.txt")

### Reverse the order of some of the data.  Rename the column names

In [46]:
iyr = iyr[["Date","Close"]].rename(columns ={"Close":"iyr_close"}).iloc[::-1]
eem = eem[["Date","Close"]].rename(columns ={"Close":"eem_close"}).iloc[::-1]
agg = agg[["Date","Close"]].rename(columns ={"Close":"agg_close"}).iloc[::-1]
bsv = bsv[["Date","Close"]].rename(columns ={"Close":"bsv_close"}) 
emb = emb[["Date","Close"]].rename(columns ={"Close":"emb_close"}).iloc[::-1]
iau = iau[["Date","Close"]].rename(columns ={"Close":"iau_close"}).iloc[::-1]
iefa= iefa[["Date","Close"]].rename(columns ={"Close":"iefa_close"}).iloc[::-1]
ifeu = ifeu[["Date","Close"]].rename(columns ={"Close":"ifeu_close"}) # data start in 2012
ijh = ijh[["Date","Close"]].rename(columns ={"Close":"ejh_close"}).iloc[::-1]
slv = slv[["Date","Close"]].rename(columns ={"Close":"slv_close"}).iloc[::-1]
ijr = ijr[["Date","Close"]].rename(columns ={"Close":"ijr_close"}).iloc[::-1]
ivv = ivv[["Date","Close"]].rename(columns ={"Close":"ivv_close"}).iloc[::-1]
#vgit = vgit[["Date","Close"]].rename(columns ={"Close":"vgit_close"}).iloc[::-1]

In [47]:
# Merge the data frames
etf = iyr.merge(eem).merge(agg).merge(emb).merge(bsv).merge(emb).merge(iau).merge(ifeu).merge(ijh).merge(slv).merge(ijr).merge(ivv)

In [48]:
etf.head()

,Date,iyr_close,eem_close,agg_close,emb_close,bsv_close,iau_close,ifeu_close,ejh_close,slv_close,ijr_close,ivv_close
0,09/24/2018,80.47,42.74,105.36,107.13,77.95,11.49,39.52,203.36,13.41,87.85,294.47
1,09/21/2018,81.91,43.23,105.46,107.24,77.99,11.49,39.68,204.08,13.44,88.44,295.36
2,09/20/2018,81.95,43.03,105.38,107.01,77.96,11.57,40.09,204.65,13.45,88.93,295.76
3,09/19/2018,81.14,42.56,105.24,106.41,77.96,11.53,39.61,203.14,13.40,88.17,293.28
4,09/18/2018,82.23,41.98,105.44,106.03,77.97,11.49,39.96,203.80,13.31,88.73,293.07

In [49]:
# Lower case all the columns names - this is really just the datae column at this point
etf.columns = map(str.lower, etf.columns)

In [50]:
etf['date'] = pd.to_datetime(etf['date']) # creating datetime dtype for date

In [51]:
etf.set_index('date', inplace = True) # setting date to "index" - take a look a next cell

In [52]:
etf['ivv_close_shft']= etf['ivv_close'].shift() # creating a new column to shift the close price up 1

In [53]:
etf.head()

,iyr_close,eem_close,agg_close,emb_close,bsv_close,iau_close,ifeu_close,ejh_close,slv_close,ijr_close,ivv_close,ivv_close_shft
date,,,,,,,,,,,,
2018-09-24,80.47,42.74,105.36,107.13,77.95,11.49,39.52,203.36,13.41,87.85,294.47,NaN
2018-09-21,81.91,43.23,105.46,107.24,77.99,11.49,39.68,204.08,13.44,88.44,295.36,294.47
2018-09-20,81.95,43.03,105.38,107.01,77.96,11.57,40.09,204.65,13.45,88.93,295.76,295.36
2018-09-19,81.14,42.56,105.24,106.41,77.96,11.53,39.61,203.14,13.40,88.17,293.28,295.76
2018-09-18,82.23,41.98,105.44,106.03,77.97,11.49,39.96,203.80,13.31,88.73,293.07,293.28

In [54]:
# Dropping one row with a NA value above
etf.dropna(inplace=True)

In [55]:
etf.head()

,iyr_close,eem_close,agg_close,emb_close,bsv_close,iau_close,ifeu_close,ejh_close,slv_close,ijr_close,ivv_close,ivv_close_shft
date,,,,,,,,,,,,
2018-09-21,81.91,43.23,105.46,107.24,77.99,11.49,39.68,204.08,13.44,88.44,295.36,294.47
2018-09-20,81.95,43.03,105.38,107.01,77.96,11.57,40.09,204.65,13.45,88.93,295.76,295.36
2018-09-19,81.14,42.56,105.24,106.41,77.96,11.53,39.61,203.14,13.40,88.17,293.28,295.76
2018-09-18,82.23,41.98,105.44,106.03,77.97,11.49,39.96,203.80,13.31,88.73,293.07,293.28
2018-09-14,82.23,41.96,105.67,106.69,78.02,11.46,39.68,204.87,13.23,89.47,292.91,293.07

In [57]:
# Check to make sure data points and index are in order
etf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2528 entries, 2018-09-21 to 2007-12-19
Data columns (total 12 columns):
iyr_close         2528 non-null float64
eem_close         2528 non-null float64
agg_close         2528 non-null float64
emb_close         2528 non-null float64
bsv_close         2528 non-null float64
iau_close         2528 non-null float64
ifeu_close        2528 non-null float64
ejh_close         2528 non-null float64
slv_close         2528 non-null float64
ijr_close         2528 non-null float64
ivv_close         2528 non-null float64
ivv_close_shft    2528 non-null float64
dtypes: float64(12)
memory usage: 256.8 KB

In [60]:
etf.describe().T

,count,mean,std,min,25%,50%,75%,max
iyr_close,2528.0,65.458331,13.521385,22.54,58.5300,67.875,76.3675,85.70
eem_close,2528.0,40.327551,5.576156,18.26,37.6175,41.095,43.8900,52.08
agg_close,2528.0,107.572282,3.424384,88.40,105.7300,108.490,109.9800,113.25
emb_close,2528.0,108.731685,8.052209,65.21,105.8775,109.725,113.7325,123.16
bsv_close,2528.0,79.991950,1.131779,72.55,79.6500,80.190,80.7500,81.98
iau_close,2528.0,12.357607,2.237643,7.03,11.2100,12.160,13.1700,18.50
ifeu_close,2528.0,33.820510,6.265980,15.12,29.3700,34.060,38.2700,59.00
ejh_close,2528.0,121.046025,41.021293,41.11,85.0975,123.035,150.5450,204.98
slv_close,2528.0,19.906760,6.973203,8.86,15.5000,17.095,21.8700,47.26
ijr_close,2528.0,47.705380,17.583792,15.40,32.1225,48.620,58.4800,90.31
ivv_close,2528.0,173.392484,54.797570,68.96,128.2700,169.775,211.3050,295.76
ivv_close_shft,2528.0,173.451187,54.847754,68.96,128.2700,169.790,211.3275,295.76

### Export this to a csv so I don't have to do this every time.

In [38]:
# etf.pd.to_csv('clean_etf.csv')